@page
@model WarehouseManagementController.Pages.CashiorManagement.CheckoutModel
@using WarehouseManagementService.Implement
@using WarehouseManagementData.CartModel
@{
    ViewData["Title"] = "Create";
    ShoppingCart cartData = TempData["CartData"] as ShoppingCart;
    var totalAmount = (decimal?)TempData["TotalAmount"];
    var totalPrice = (decimal?)TempData["TotalPrice"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="max-w-7xl mx-auto p-6">
        <div class="flex flex-col lg:flex-row gap-6">
            <!-- Checkout -->
            <div class="lg:w-3/5 bg-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold mb-4">Checkout</h2>


                <form method="post">
                    <!-- Vnpay and Momo Form -->
                    <div id="vnpay-form" class="hidden">
                        <p class="text-sm text-gray-700">You will be redirected to the VNPAY gateway to complete your payment.</p>
                    </div>


                    <!-- Order List -->
                    <div class="mt-6">
                        <h3 class="text-xl font-bold mb-4">Order List</h3>
                        <div class="space-y-4">
                            @foreach (var item in cartData.Items)
                            {
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center">
                                        <img src="@Url.Content(item.ImageUrl)" alt="Course Image" class="w-16 h-16 rounded-md mr-4">
                                        <span>@item.ProductName</span>
                                    </div>
                                    <span class="font-semibold">@string.Format("{0:N0} VND", item.Price * item.Quantity)</span>
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </div>


            <div class="lg:w-2/5 bg-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold mb-4">Summary</h2>
                <div class="space-y-2">
                    <div class="flex justify-between">
                        <span class="text-gray-700">Original Price</span>
                        <span class="font-semibold">@string.Format("{0:N0} VND", @totalPrice.Value)</span>
                    </div>
                    <hr class="my-4">
                    <div class="flex justify-between text-xl font-bold">
                        <span>Total</span>
                        <span>@string.Format("{0:N0} VND", @totalPrice.Value)</span>
                    </div>
                </div>
                <p class="text-sm text-gray-500 mt-4">Nhập thông tin đơn hàng</p>
                <form method="post">
                    <div>
                        <label for="amount">Tổng tiền:</label>
                        <!-- Đảm bảo giá trị này là số nguyên khi gửi đi -->
                        <input id="amount" name="Amount" value="@string.Format("{0:N0} VND", @totalPrice.Value)" readonly />
                    </div>
                    <div>
                        <label for="amount">Số điện thoại khách hàng (Không bắt buộc)</label>
                        <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Nhập số điện thoại" asp-for="@Model.OrderInfo.CustomerContactNumber" />
                    </div>
                    <div>
                        <label for="amount">Tên khách hàng (Không bắt buộc)</label>
                        <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Nhập tên khách hàng" asp-for="@Model.OrderInfo.CustomerName" />
                    </div>
                    <div>
                        <label for="amount">Địa chỉ(Bắt buộc)</label>
                        <input required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Nhập ghi địa chỉ" asp-for="@Model.OrderInfo.Adres" />
                    </div>
                    <div>
                        <label for="amount">Note (Không bắt buộc)</label>
                        <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Nhập ghi chú ngắn" asp-for="@Model.OrderInfo.Notes" />
                    </div>
                    <!-- Payment Method  -->
                    <div class="mb-6 mt-4">
                        <label for="payment-method" class="block text-lg font-medium text-gray-700">Phương thức thanh toán</label>
                        <select asp-for="@Model.OrderInfo.PaymentMethod" id="paymentMethod" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option value="1">Thanh toán tiền mặt</option>
                            <option value="2">VNPAY</option>
                        </select>
                    </div>
                    <button type="submit" class="mt-4 flex w-full items-center justify-center rounded-lg bg-blue-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-red-600 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-red-700 dark:focus:ring-blue-800">
                        Thanh toán
                    </button>
                </form>


            </div>
        </div>
    </div>

    <footer class="footer px-4 py-6">
        <div class="footer-content">
            <p class="text-sm text-gray-600 text-center">© Graduation 2025. All rights reserved. <a href="https://github.com/thien123dh/StoreManagement">NHÓM HỆ THỐNG QUẢN LÝ BÁN HÀNG TẠI CỬA HÀNG BÁN LẺ</a></p>
        </div>
    </footer>


    <script>
        const paymentMethod = document.getElementById('payment-method');
        const vnpayForm = document.getElementById('vnpay-form');
        const momoForm = document.getElementById('momo-form');

        paymentMethod.addEventListener('change', function () {
            creditCardForm.classList.add('hidden');
            vnpayForm.classList.add('hidden');
            momoForm.classList.add('hidden');

            if (this.value === 'credit-card') {
                creditCardForm.classList.remove('hidden');
            } else if (this.value === 'vnpay') {
                vnpayForm.classList.remove('hidden');
            } else if (this.value === 'momo') {
                momoForm.classList.remove('hidden');
            }
        });
    </script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}