@page
@model WarehouseManagementController.Pages.CategoryProduct.CategoryModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
   @*  @if (string.IsNullOrEmpty(userId))
    {
        <body class="bg-gray-100 flex items-center justify-center h-screen">

            <div class="text-center">
                <img src="https://cdn.dribbble.com/userupload/8726277/file/still-90096ae0b20436af7d475737af5b86e5.gif?resize=400x0" alt="404 Not Found" class="mx-auto w-1/2 md:w-1/3 lg:w-1/4">
                <h1 class="text-4xl font-bold text-gray-800 mt-8">Oops! Page Not Found</h1>
                <p class="text-gray-600 mt-4">The page you are looking for does not exist or has been moved.</p>
                <a href="/" class="mt-6 inline-block px-6 py-3 bg-indigo-500 text-white font-semibold rounded-md hover:bg-indigo-600">Go Back to Home</a>
            </div>

        </body>
    }
    else
    { *@
        
    <!-- component -->
    <div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
        <aside class="sidebar w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-blue-700">
            <div class="sidebar-header flex items-center justify-center py-4">
                <div class="inline-flex">
                    <a href="/Admin">
                        <img src="/img/z5848027674510_1678da8f2f576d67c74ec3fdb0ace680.jpg" alt="logo" class='w-24 h-24 object-cover rounded-full mx-auto' />
                    </a>
                </div>
            </div>
            <div class="sidebar-content px-4 py-6">
                <ul class="flex flex-col w-full">
                    <li class="my-px">
                        <a href="/Admin"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-gray-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                </svg>
                            </span>
                            <span class="ml-3">Dashboard</span>
                        </a>
                    </li>
                    <li class="my-px">
                        <span class="flex font-medium text-sm text-gray-300 px-4 my-4 uppercase">Main Manager</span>
                    </li>
                    <li class="my-px">
                        <a href="/Admin/StudentManager"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-gray-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                            </span>
                            <span class="ml-3">User Manage</span>
                            
                        </a>
                    </li>
                    <li class="my-px">
                        <a href="/Admin/TutorManage"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-gray-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M12 3.04l7 4.02-7 4.01-7-4.01 7-4.02zm-8 6.47v4.02c0 .78.63 1.41 1.41 1.41h12.18c.78 0 1.41-.63 1.41-1.41V9.51l-7 4.01-7-4.01zm14.36 4.01h1.59c.78 0 1.41.63 1.41 1.41v3.03c0 .78-.63 1.41-1.41 1.41H4.05c-.78 0-1.41-.63-1.41-1.41v-3.03c0-.78.63-1.41 1.41-1.41h1.59l6.18 3.51 6.18-3.51z" />
                                </svg>
                            </span>
                            <span class="ml-3">Manager</span>
                        </a>
                    </li>

                    <li class="my-px">
                        <a href="/Admin/RegisTutorManage"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-green-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </span>
                            <span class="ml-3">Regis Manager</span>
                        </a>
                    </li>
                    <li class="my-px">
                        <span class="flex font-medium text-sm text-gray-300 px-4 my-4 uppercase">Service Manager</span>
                    </li>
                    <li class="my-px">
                        <a href="/Admin/CourseManage"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-gray-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                                </svg>
                            </span>
                            <span class="ml-3">Websites</span>
                        </a>
                    </li>
                    <li class="my-px">
                        <a href="/Admin/CategoriesCourses"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-700 bg-gray-100">
                            <span class="flex items-center justify-center text-lg text-gray-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                </svg>
                            </span>
                            <span class="ml-3">Services</span>
                        </a>
                    </li>
                    <li class="my-px">
                        <a href="/Admin/OrdersManage"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-green-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M11 5h8M11 12h8M11 19h8M5 6h.01M5 12h.01M5 18h.01" />
                                </svg>
                            </span>
                            <span class="ml-3">Orders Manage</span>
                        </a>
                    </li>

                    <li class="my-px">
                        <span class="flex font-medium text-sm text-gray-300 px-4 my-4 uppercase">Account</span>
                    </li>
                    <li class="my-px">
                        <a href="/Admin/Admin-Profile"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-gray-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                </svg>
                            </span>
                            <span class="ml-3">Profile</span>
                        </a>
                    </li>
                    <li class="my-px">
                        <a href="/Logout"
                           class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-red-400">
                                <svg fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     class="h-6 w-6">
                                    <path d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span class="ml-3">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in">
            <header class="header bg-white shadow py-4 px-4">
                <div class="header-content flex items-center flex-row">
                    <form action="#">
                        <div class="hidden md:flex relative">
                            <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
                                <svg class="h-6 w-6"
                                     fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                </svg>
                            </div>

                                <form method="get">
                                    <div class="input-group">
                                        <input placeholder="Search..." class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-300 w-full h-10 focus:outline-none focus:border-indigo-400" >
                                    </div>
                                </form>
                        </div>
                        <div class="flex md:hidden">
                            <a href="#" class="flex items-center justify-center h-10 w-10 border-transparent">
                                <svg class="h-6 w-6 text-gray-500"
                                     fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                </svg>
                            </a>
                        </div>
                    </form>
                    <div class="flex ml-auto">
                        <a href="#" class="flex flex-row items-center">
                            <img src="https://avatars.githubusercontent.com/u/16786985?v=4"
                                 alt
                                 class="h-10 w-10 bg-gray-200 border rounded-full" />
                            <span class="flex flex-col ml-2">
                                <span class="truncate w-20 font-semibold tracking-wide leading-none">Admin</span>
                                <span class="truncate w-20 text-gray-500 text-xs leading-none mt-1">Manager</span>
                            </span>
                        </a>
                    </div>
                </div>
            </header>


            @* -------------------Main Component --------------- *@
            <div class="main-content flex flex-col flex-grow p-4">
                <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                    Services Manage
                </h4>
                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="flex justify-end space-x-2 mb-4">
                        <a asp-page="Create-Cate" class="px-4 py-2 font-semibold leading-tight text-white bg-blue-600 rounded-full hover:bg-blue-700">
                            Create
                        </a>
                       
                    </div>
                </div>

                    <div class="w-full overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                    <th class="px-4 py-3"><input type="checkbox" id="select-all" class="form-checkbox"></th>
                                    <th class="px-4 py-3">Service Name</th>
                                    <th class="px-4 py-3">Description</th>
                                    <th class="px-4 py-3">Action</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                @foreach (var item in Model.Category.Items)
                                {
                                    <tr  class="text-gray-700 dark:text-gray-400">
                                        <td class="px-4 py-3"><input type="checkbox" class="form-checkbox"></td>
                                        <td class="px-4 py-3 text-sm">@Html.DisplayFor(modelItem => item.Name)</td>
                                       @*  <td class="px-4 py-3 text-sm">@Html.DisplayFor(modelItem => item.Description)</td> *@
                                        <td class="px-4 py-3">
                                            <div class="flex items-center space-x-4 text-sm">
                                                <a asp-page="./Update-Cate" asp-route-id="@item.Id"
                                                   class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-black-600
                                                     rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray btn btn-sm btn-warning">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                                        <path d="M11 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7" />
                                                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" />
                                                    </svg>
                                                </a>
                                               
                                            <a asp-page="./Delete-Cate" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                                <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-red-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                                        data-id="@item.Id">
                                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                                        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                            </a>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                        <span class="flex items-center col-span-3">
                            Showing 01-10 of 100
                        </span>
                        <span class="col-span-2"></span>
                        <!-- Pagination -->
                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                            <nav aria-label="Table navigation">
                                <ul class="inline-flex items-center">
                                    <li>
                                        <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple" aria-label="Previous">
                                            <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                                <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple bg-blue-500 text-white">
                                            1
                                        </button>
                                    </li>
                                    <li>
                                        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                            2
                                        </button>
                                    </li>
                                    <li>
                                        <span class="px-3 py-1">...</span>
                                    </li>
                                    <li>
                                        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                            8
                                        </button>
                                    </li>
                                    <li>
                                        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                            9
                                        </button>
                                    </li>
                                    <li>
                                        <button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple" aria-label="Next">
                                            <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                                <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                        </span>
                    </div>
                </div>
            <footer class="footer px-4 py-6">
                <div class="footer-content">
                    <p class="text-sm text-gray-600 text-center">© Graduation 2024. All rights reserved. <a href="https://github.com/VanHa1006/RentTutor_Project.git">by Group-7</a></p>
                </div>
            </footer>
         </div>
      

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('select-all').addEventListener('click', function (event) {
                    const checkboxes = document.querySelectorAll('.form-checkbox');
                    checkboxes.forEach(checkbox => checkbox.checked = event.target.checked);
                });
            });

        </script>
          
            <script src="~/js/site.js" asp-append-version="true"></script>
    
           @*  </main>
            </div> *@
    @* } *@
</body>

</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
