@page
@model WarehouseManagementController.Pages.ProductManagement.ImportRequestModel
@{
    ViewData["Title"] = "Tạo đơn nhập vào kho";
}

<div class="main-content user-details flex flex-col flex-grow p-4">
    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Nhập sản phẩm vào kho
    </h4>

    <div class="w-full overflow-x-auto">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-4">
                    <label asp-for="ImportRequest.Description" class="block text-gray-700 font-semibold mb-2">Chi tiết đơn nhập</label>
                    <textarea asp-for="ImportRequest.Description" type="text" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Nhập mô tả"></textarea>
                    <span asp-validation-for="ImportRequest.Description" class="text-danger"></span>
                </div>

                <h4 class="mb-1 text-l font-semibold text-gray-600 dark:text-gray-300">
                    Danh sách sản phẩm
                </h4>
                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="flex justify-end space-x-2 mb-4">
                        <div>
                            <select asp-for="SelectedId" asp-items="@Model.ProductSerialNumbers" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                                <option value="">---Chọn mã sản phẩm nếu sản phẩm đã có sãn---</option>
                            </select>
                        </div>
                        <button type="submit" asp-page-handler="CreateProduct" class="px-4 py-2 font-semibold leading-tight text-white bg-blue-600 rounded-full hover:bg-blue-700">
                            Thêm sản phẩm
                        </button>
                    </div>
                </div>
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th class="px-4 py-3">Tên sản phẩm</th>
                                <th class="px-4 py-3">Mã sản phẩm</th>
                                <th class="px-4 py-3">Nhà sản xuất</th>
                                <th class="px-4 py-3">Số lượng nhập</th>
                                <th class="px-4 py-3">Giá bán</th>
                                <th class="px-4 py-3">Giá nhập</th>
                                <th class="px-4 py-3">Danh mục</th>
                                <th class="px-4 py-3">Tình trạng</th>
                                <th class="px-4 py-3">Action</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            @for (int i = 0; i < Model.Products.Count; i++)
                            {
                                <tr class="text-gray-700 dark:text-gray-400">
                                    <td class="px-4 py-3 text-sm">
                                        @Html.DisplayFor(model => model.Products[i].Name)
                                        <input type="hidden" asp-for="Products[i].Name" />
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        @(Model.Products[i].SerialNumber ?? "Tự động tạo")
                                        <input type="hidden" asp-for="Products[i].SerialNumber" />
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        @Html.DisplayFor(model => model.Products[i].Manufactor)
                                        <input type="hidden" asp-for="Products[i].Manufactor" />
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        <input readonly asp-for="Products[i].Quantity"
                                               class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                                               placeholder="Nhập số lượng nhập vào kho"
                                               required />
                                        <span asp-validation-for="Products[i].Quantity" class="text-red-500 text-sm"></span>
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        @string.Format("{0:N0} VND", Model.Products[i].SellingPrice)
                                        <input type="hidden" asp-for="Products[i].SellingPrice" />
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        @string.Format("{0:N0} VND", Model.Products[i].ImportPrice)
                                        <input type="hidden" asp-for="Products[i].ImportPrice" />
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        @Html.DisplayFor(model => model.Products[i].Category.Name)
                                        <input type="hidden" asp-for="Products[i].Category.Id" />
                                        <input type="hidden" asp-for="Products[i].Category.Name" />
                                    </td>

                                    <td class="px-4 py-3 text-sm">
                                        @Html.DisplayFor(model => model.Products[i].StatusName)
                                        <input type="hidden" asp-for="Products[i].StatusName" />
                                    </td>

                                    <td class="px-4 py-3">
                                        <button asp-page-handler="RemoveImportProduct"
                                                asp-route-index="@i"
                                                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-red-600 rounded-lg hover:bg-red-100">
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

                <div class="mt-4">
                    <div class="flex justify-end space-x-2 mb-4">
                        <a asp-page="SearchProduct" class="px-4 py-2 font-semibold leading-tight text-white bg-red-600 rounded-full hover:bg-red-700">
                            Quay lại
                        </a>
                        <button type="submit" asp-page-handler="SubmitImportRequest" class="px-4 py-2 font-semibold leading-tight text-white bg-blue-600 rounded-full hover:bg-blue-700">
                            Nhập sản phẩm vào kho
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}